<link rel="stylesheet" type="text/css" href="static/about.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Background & animion & navbar & title -->
<body style="zoom: 75%;">
    <div class="container-fluid">
        <!-- Background animtion-->
        <div class="background">
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
        </div>
    
        <header>
            <h1 style="text-align: center; margin-top: 70px;font-size: 70px;color: whitesmoke;">Hello Everybody!</h1>
            <h1 style="text-align: center; margin-top: 90px;font-size: 50px;color: whitesmoke;">We are a group of
                enthusiastic web developers
            </h1>
    
            <div id="left-pic">
                <img style="height: 500px; width: 45%; float: left;" src="static/images/Prachiti.jpeg" alt="Prachiti picture">
                <div class="pra-info" style="float: right;">
                    <h1 style="font-size: 50px;">Prachiti Barge</h1><br><br>
                    <h2 style="font-size: 30px;">Web Enthusiast</h2><br><br>
                    <p style="font-size: 18px;"><i>"Forever looking forward to explore new technologies"</i></p>
                    <br><br>
                    <i style="font-size:35px" class="fa">
                        <a href="https://github.com/Prachiti-tech">&#xf09b; </a>
                    </i>
                    <span style="width: 20px;opacity:0">uvuj</span>
                    <i style="font-size:35px" class="fa">
                        <a href="https://www.linkedin.com/in/prachiti-barge-30b73019a/">&#xf08c; </a>
                    </i>
    
                </div>
            </div>
            <div id="right-pic">
                <img style="height: 500px; width: 47%;" src="static/images/Prerna.jpeg" alt="Prerna picture">
                <div class="prerna-info" style="float: right;color: white;">
                    <h1 style="font-size: 50px;">Prerna Jagesia</h1><br><br>
                    <h2 style="font-size: 30px;">Web Enthusiast</h2><br><br>
                    <p style="font-size: 18px;"><i>"Keen about diving deeper into emerging fields"</i></p>
                    <br><br>
                    <i style="font-size:35px;" class="fa">
                        <a href="https://github.com/pkjagesia">&#xf09b; </a>
                    </i>
                    <span style="width: 20px;opacity: 0;">sgdy</span>
                    <i style="font-size:35px" class="fa">
                        <a href="http://www.linkedin.com/in/prerna-jagesia-9635911a7">&#xf08c; </a>
                    </i>
    
                </div>
            </div>
        </header>
        <footer class="footer" style="z-index: 1;">
            <div class="footer-info" style="margin-left: 300px;">
                <h4>
                    <a href="about.html">About Us</a>
                </h4>
                <br>
                <p>Reach us out at:</p>
                <br><br>
                <a href="https://github.com/Prachiti-tech" target="_blank">Github |</a>
    
    
                <a href="https://www.linkedin.com/in/prachiti-barge-30b73019a/" target="_blank">LinkedIn |</a>
    
                <a href="prachitibarge01@gmail.com" target="_blank" style="size: 25px;"> Gmail</a>
                <br><br>
                <p>
                    Copyright &copy; 2021 All Rights Reserved
                </p>
            </div>
        </footer>
</body>
