<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <form id="my-form" action="http://localhost:5000/your-resume" method = "POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"><p></p>

        <label for="email">Email:</label>
        <input type="text" name="email" id="email"><p></p>
        
        <label for="xp">Experience:</label>
        <input type="number" name="xp"><p></p>

        <textarea name="profile" id="profile"></textarea><p></p>

        <label for="desig">Enter designation</label>
        <input type="text" name="designation" id="designation"><p></p>

        <label for="phone">Phone No:</label>
        <input type="text" name="phone" id="phone"><p></p>

        <label for="city">City</label>
        <input type="text" name="city" id="city"><p></p>

        <label for="country">Country</label>
        <input type="text" name="country" id="country"><p></p>

        <label for="link1">Social Media Link 1</label>
        <input type="text" name="linkedin" id="link1"><p></p>

        <label for="link2">Social Media Link 2</label>
        <input type="text" name="insta" id="link2"><p></p>

        <label for="link3">Social Media Link 3</label>
        <input type="text" name="twitter" id="link3"><p></p>

        <label for="post1">Enter Post 1:</label>
        <input type="text" name="post1" id="post1"><p></p>

        <label for="company1">Enter Company 1</label>
        <input type="text" name="company1" id="company1"><p></p>

        <label for="cfrom_date1">Enter From Date:</label>
        <input type="text" name="cfrom_date1" id="cfrom_date1"><p></p>

        <label for="cto_date1">Enter To Date:</label>
        <input type="text" name="cto_date1" id="cto_date1"><p></p>

        <label for="desc1">Enter Desc 1</label>
        <textarea name="desc1" id="desc1"></textarea><p></p>

        <label for="post2">Enter Post 2:</label>
        <input type="text" name="post2" id="post2"><p></p>

        <label for="company2">Enter Company 2</label>
        <input type="text" name="company2" id="company2"><p></p>

        <label for="cfrom_date2">Enter From Date:</label>
        <input type="text" name="cfrom_date2" id="cfrom_date2"><p></p>

        <label for="cto_date2">Enter To Date:</label>
        <input type="text" name="cto_date2" id="cto_date2"><p></p>

        <label for="desc2">Enter Desc 2</label>
        <textarea name="desc2" id="desc2"></textarea><p></p>

        <label for="post3">Enter Post 3:</label>
        <input type="text" name="post3" id="post3"><p></p>

        <label for="company3">Enter Company 3:</label>
        <input type="text" name="company3" id="company3"><p></p>

        <label for="cfrom_date3">Enter From Date:</label>
        <input type="text" name="cfrom_date3" id="cfrom_date3"><p></p>

        <label for="cto_date3">Enter To Date:</label>
        <input type="text" name="cto_date3" id="cto_date3"><p></p>

        <label for="desc3">Enter Desc 3</label>
        <textarea name="desc3" id="desc3"></textarea><p></p>

        <label for="degree1">Enter Degree 1:</label>
        <input type="text" name="deg1" id="degree1"><p></p>

        <label for="college1">Enter College 1:</label>
        <input type="text" name="college1" id="college1"><p></p>

        <label for="efrom_date1">Enter From Date:</label>
        <input type="text" name="efrom_date1" id="efrom_date1"><p></p>

        <label for="eto_date1">Enter To Date:</label>
        <input type="text" name="eto_date1" id="eto_date1"><p></p>

        <label for="degree2">Enter Degree 2:</label>
        <input type="text" name="deg2" id="degree2"><p></p>

        <label for="college2">Enter College 2:</label>
        <input type="text" name="college2" id="college2"><p></p>

        <label for="efrom_date2">Enter From Date:</label>
        <input type="text" name="efrom_date2" id="efrom_date2"><p></p>

        <label for="eto_date2">Enter To Date:</label>
        <input type="text" name="eto_date2" id="eto_date2"><p></p>

        <label for="degree3">Enter Degree 3:</label>
        <input type="text" name="deg3" id="degree3"><p></p>

        <label for="college3">Enter College 3:</label>
        <input type="text" name="college3" id="college3"><p></p>

        <label for="efrom_date3">Enter From Date:</label>
        <input type="text" name="efrom_date3" id="efrom_date3"><p></p>

        <label for="eto_date3">Enter To Date:</label>
        <input type="text" name="eto_date3" id="eto_date3"><p></p>

        <label for="skill1">Enter Skill 1:</label>
        <input type="text" name="skill1" id="skill1"><p></p>
        
        <label for="ht1">Enter Height 1</label>
        <input type="text" name="ht1" id="ht1"><p></p>

        <label for="skill2">Enter Skill 2:</label>
        <input type="text" name="skill2" id="skill2"><p></p>
        
        <label for="ht2">Enter Height 2:</label>
        <input type="text" name="ht2" id="ht2"><p></p>

        <label for="skill3">Enter Skill 3:</label>
        <input type="text" name="skill3" id="skill3"><p></p>
        
        <label for="ht3">Enter Height 3:</label>
        <input type="text" name="ht3" id="ht3"><p></p>

        <label for="skill4">Enter Skill 4:</label>
        <input type="text" name="skill4" id="skill4"><p></p>
        
        <label for="ht4">Enter Height 4:</label>
        <input type="text" name="ht4" id="ht4"><p></p>

        <label for="skill5">Enter Skill 5:</label>
        <input type="text" name="skill5" id="skill5"><p></p>
        
        <label for="ht5">Enter Height 5:</label>
        <input type="text" name="ht5" id="ht5"><p></p>

        <label for="skill6">Enter Skill 6:</label>
        <input type="text" name="skill6" id="skill6"><p></p>
        
        <label for="ht6">Enter Height 6:</label>
        <input type="text" name="ht6" id="ht6"><p></p>

        <label for="hobby1">Enter Hobby 1:</label>
        <input type="text" name="hobby1" id="hobby1"><p></p>

        <label for="hobby2">Enter Hobby 2:</label>
        <input type="text" name="hobby2" id="hobby2"><p></p>

        <label for="hobby3">Enter Hobby 3:</label>
        <input type="text" name="hobby3" id="hobby3"><p></p>

        <label for="hobby4">Enter Hobby 4:</label>
        <input type="text" name="hobby4" id="hobby4"><p></p>

        <label for="hobby3">Enter Hobby 5:</label>
        <input type="text" name="hobby5" id="hobby5"><p></p>

       

        <label for="key">Enter Key</label>
        <input type="number" name="key" id="key"><p></p>

        <input type = "submit" value = "submit" />
    </form>
</body>
</html>