<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="static/register.css">
    <link rel="stylesheet" href="static/home_style.css">
</head>
<body style="background-color: #ffebee;">
    <header class="nav-bar" style="color: white;">
        <span class="nav-bar-items">
            <a href="{{ url_for('home')}} ">Home</a>
        </span>
        <span class="nav-bar-items">
            <a href="{{ url_for('login') }}">Login</a>
        </span>
        <span class="nav-bar-items">
            <a href="{{ url_for('register')}}">Register</a>
        </span>
    </header>
    <div class="container" id="container">
        <div class="form-container sign-up-container"></div>
        <div class="form-container sign-in-container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h1>Sign in</h1><p></p>
                {{ form.username(placeholder="Username") }}
                {{ form.password(placeholder="Password") }}
                <p></p>
                {{ form.submit(class="submit") }}
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start building exciting resumes!</p>
                    <a href="register"><button class="ghost" id="signUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>    

</body>
</html>
