<!DOCTYPE html>
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
    </style>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="static/template.css">
    <link rel="stylesheet" type="text/css" href="static/home_style.css">
    <title>Templates</title>
</head>

<body >
    <header class="nav-bar" style="color: white;">
        {% if current_user.is_authenticated %}
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('home')}} ">Home</a>
            </span>
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('template_page') }}">Build Resume</a>
            </span>
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('about') }}">About Us</a>
            </span>
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="contact.html">Contact Us</a>
            </span>
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('logout') }}">Logout</a>
            </span>
        {% else %}
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('login') }}">Login</a>
            </span>
            <span class="nav-bar-items">
                <a style="text-decoration: none; color:white" href="{{ url_for('register')}}">Register</a>
            </span>
        {% endif %}
    </header>
    
    <div class="main">

        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>

        <h1 style="text-align:center ;font-family: 'Odibee Sans', cursive; font-size: 8rem;
        padding: 12px; font: outline; color: rgb(230, 185, 37)" class="container">Select your Template!</h1><br>
        <p></p>

        <div class="row  container-fluid row-cols-2 row-cols-lg-4">
        <div class="container">
            <div type="button" class="quote card col col-lg-12 m-2 p-3" data-toggle="modal" data-target="#Temp1">
                <div class="card-body">
                    <img src="static/images/Resume1.jpeg" class="card-img" alt="Template 1">
                </div>
                <div class="card-footer">Template 1</div>
            </div><br>

            <div type="button" class="quote card col col-lg-12 m-2 p-3" data-toggle="modal" data-target="#Temp3">
                <div class="card-body">
                    <img src="static/images/Resume3.jpeg" class="card-img" alt="Template 3" style="height: 240px;">
                </div>
                <div class="card-footer">Template 3</div>
            </div>
        </div>
        <div class="container">
            <div type="button" class="quote card col col-lg-12 m-2 p-3" data-toggle="modal" data-target="#Temp2">
                <div class="card-body">
                    <img src="static/images/Resume2.jpeg" class="card-img" alt="Template 2">

                </div>
                <div class="card-footer">Template 2</div>
            </div><br>

            <div type="button" class="quote card col col-lg-12 m-2 p-3" data-toggle="modal" data-target="#Temp4">
                <div class="card-body">
                    <img src="static/images/Resume4.jpeg" class="card-img" alt="Template 4">
                </div>
                <div class="card-footer">Template 4</div>
            </div>

        </div>
    </div>
        <!-- Button trigger modal -->


        <!-- Modal -->
    <!--Template 1-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="Temp1" tabindex="-1" role="dialog"
            aria-labelledby="Temp_label_1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Temp_label_1">Template 1</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-dismiss="modal" data-target="#selectTemp2"  data-toggle="collapse" href="#selectTemp2" role="button" aria-expanded="false" aria-controls="selectTemp2">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="static/images/Resume1.jpeg" class="card-img" alt="Template 1">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"  data-target="#selectTemp1"  data-toggle="collapse" href="#selectTemp1" role="button" aria-expanded="false" aria-controls="selectTemp1">Close</button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#selectTemp1">Select this template</a>
                    </div>
                    <div class="collapse" id="selectTemp1">
                        <div class="card card-body"><a class="btn btn-success" href="{{ url_for('input_1') }}">Go to Input Page</a></div>
                    </div>
                </div>
            </div>
        </div>

    <!--Template 2-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="Temp2" tabindex="-1" role="dialog"
            aria-labelledby="Temp_label_2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Temp_label_2">Template 2</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-dismiss="modal" data-target="#selectTemp2"  data-toggle="collapse" href="#selectTemp2" role="button" aria-expanded="false" aria-controls="selectTemp2">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="static/images/Resume2.jpeg" class="card-img" alt="Template 2">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#selectTemp2"  data-toggle="collapse" href="#selectTemp2" role="button" aria-expanded="false" aria-controls="selectTemp2">Close</button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#selectTemp2">Select this template</a>
                    </div>
                    <div class="collapse" id="selectTemp2">
                        <div class="card card-body"><a class="btn btn-success" href="{{ url_for('input_2') }}">Go to Input Page</a></div>
                    </div>
                </div>
            </div>
        </div>

    <!--Template 3-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="Temp3" tabindex="-1" role="dialog"
            aria-labelledby="Temp_label_3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Temp_label_3">Template 3</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-dismiss="modal" data-target="#selectTemp2"  data-toggle="collapse" href="#selectTemp2" role="button" aria-expanded="false" aria-controls="selectTemp2">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="static/images/Resume3.jpeg" class="card-img" alt="Template 3">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"  data-target="#selectTemp3"  data-toggle="collapse" href="#selectTemp3" role="button" aria-expanded="false" aria-controls="selectTemp3">Close</button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#selectTemp3">Select this template</a>
                    </div>
                    <div class="collapse" id="selectTemp3">
                        <div class="card card-body"><a class="btn btn-success" href="{{ url_for('input_3') }}">Go to Input Page</a></div>
                    </div>
                </div>
            </div>
        </div>

    <!--Template 4-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="Temp4" tabindex="-1" role="dialog"
            aria-labelledby="Temp_label_4" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Temp_label_4">Template 4</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" data-dismiss="modal" data-target="#selectTemp2"  data-toggle="collapse" href="#selectTemp2" role="button" aria-expanded="false" aria-controls="selectTemp2">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="static/images/Resume4.jpeg" class="card-img" alt="Template 4">
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"  data-target="#selectTemp4"  data-toggle="collapse" href="#selectTemp4" role="button" aria-expanded="false" aria-controls="selectTemp4">Close</button>
                        <a class="btn btn-primary" data-toggle="collapse" href="#selectTemp4">Select this template</a>
                    </div>
                    <div class="collapse" id="selectTemp4">
                        <div class="card card-body"><a class="btn btn-success" href="{{ url_for('input_4') }}">Go to Input Page</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>