@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
body {
    margin: 0;
    font-family: 'Nunito';
    background-color:#ffebee
  }

.container {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .quote {
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.container .quote p {
    margin-top: 0;
}
  
.container .quote span {
    font-weight: bold;
    position: relative;
    margin-left: 15px;
}

.container .quote span:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    border-bottom: 1px solid black;
    top: 10px;
    left: -15px;
}

@media (min-width: 550px) {
    /*
     .span-2 {
     grid-column: auto / span 2;
     }
     */
  }
  
.main {
  background-color: #ffebee;
  position: relative;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

